@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background: #0E0C0C;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.header{
    height: 2.75rem;
    margin: auto 4.4rem;
}

.nav{
    margin: auto 4.4rem;
}

.nav a{
    margin: auto 3.1rem;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.09em;
    color: #0E0C0C;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-main{
    margin-top: 6.5rem;
}

.header-main{
    height: 4.6rem;
    background-color:#9BA0FC;
    display: flex;
    justify-content: space-between;
}


.txt-main h1{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.09em;
    color: #9BA0FC;
}

.txt-main p{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    max-width: 28.75rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.75rem;
}

.btn{
    width: 13.12rem;
    height: 3.62rem;
    background: #9BA0FC;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.09em;
    border: 0;
}

.img-saly{
    display: flex;
    margin-left: 6.25rem;
    gap: 1.6rem;
}

.cntn{
    height: 38.8rem;
    margin-top: 7.1rem;
}

.container1{
    background: #FFD280;
    width: 11.4rem;
}

.container2{
    background: #9BA0FC;
    width: 24.7rem;
}

.container3{
    background: #8FC7FF;
    width: 11.4rem;
}

.saly1{
    height: 42.6rem;
    margin-top: 2.1rem;
}

.saly2{
    height: 44.3rem;
    margin-top: 2.1rem;
}

.saly3{
    height: 39.9rem;
    margin-top: 6.87rem;
}

@media (max-width:1400px){

    .nav a{
        margin: auto 1.5rem;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .btn{
        width: 12rem;
        height: 3rem;
        font-size: 1.3rem;
        letter-spacing: 0.3em;
    }

    .txt-main h1{
        font-size: 2.5rem;
        
    }
    
    .txt-main p{
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 22rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .cntn{
        height: 18.3rem;
        margin-top: 8rem;
    }
    
    .container1{
        width: 5.7rem;
    }
    
    .container2{
        width: 12.3rem;
    }
    
    .container3{
        width: 5.7em;
    }
    
    .saly1{
        height: 21.3rem;
        margin-top: 0.2rem;
    }
    
    .saly2{
        height: 22.05rem;
        margin-top: 0rem;
    }
    
    .saly3{
        height: 19.95rem;
        margin-top: 2.3rem;
    }
    
}

@media (max-width:1000px){
    .header-main{
        height: 3rem;
        justify-content: space-around;
    }

    .header{
        height: 1.2rem;
        margin: auto 1rem;
    }
    
    .nav{
        margin: auto 1rem;
    }

    .nav a{
        margin: auto 0.5rem;
        font-weight: 600;
        font-size: 1rem;
    }

    .body-main{
        flex-direction: column;
    }

    .btn{
        width: 12rem;
        height: 3rem;
        font-size: 1.3rem;
        letter-spacing: 0.3em;
    }

    .txt-main h1{
        font-size: 2.5rem;
        
    }
    
    .txt-main p{
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 22rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .img-saly{
        margin-left: 0;
        gap: 0.3rem;
    }

    .cntn{
        height: 18.3rem;
        margin-top: 8rem;
    }
    
    .container1{
        width: 5.7rem;
    }
    
    .container2{
        width: 12.3rem;
    }
    
    .container3{
        width: 5.7em;
    }
    
    .saly1{
        height: 21.3rem;
        margin-top: 0.2rem;
    }
    
    .saly2{
        height: 22.05rem;
        margin-top: 0rem;
    }
    
    .saly3{
        height: 19.95rem;
        margin-top: 2.3rem;
    }


}